.footer {
  background-color: #232f3e;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer__backToTop {
  background-color: #37475a;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  font-size: 13px;
}

.footer__backToTop:hover {
  background-color: #485769;
}

.footer__links {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.footer__linkCol {
  display: flex;
  flex-direction: column;
}

.footer__linkCol > h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer__linkCol > p {
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #DDD;
}

.footer__linkCol > p:hover {
  text-decoration: underline;
}

.footer__copyright {
  text-align: center;
  padding: 20px;
  background-color: #131A22;
  color: #DDD;
  font-size: 13px;
  border-top: 1px solid #3a4553;
}
